* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.page {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -1px;
    height: 100vh;
    border: 1px solid #2222220D;
}

.sidebar__navigation {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 16px;
}

.sidebar__navigation__shell {
    display: block;
    margin-left: 16px;
    margin-right: 16px;
    padding: 8px 8px 8px 8px;
    position: relative;
}

.sidebar__navigation__shell__icon {
    display: block;
}

.sidebar__navigation-active::after {
    display: block;
    content: '';
    width: 4px;
    height: 4px;
    background: #222222;
    border-radius: 50%;
    position: absolute;
    left: 18px;
    bottom: 0;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 97px;
    width: 100%;
}

.profile__picture {
    width: 123px;
    height: 123px;
    border-radius: 16px;
    background-color: #FFFFFF;
}

.profile__name {
    margin-top: 20px;
    max-width: 361px;
    text-align: center;
    font: 500 32px "Golos UI", sans-serif;
    line-height: 32px;
    letter-spacing: -0.25px;
    color: #222222;
    vertical-align: middle;
}

.profile__description {
    margin-top: 10px;
    max-width: 361px;
    text-align: center;
    font: 400 15px "Golos UI", sans-serif;
    line-height: 18px;
    letter-spacing: -0.15px;
    color: #222222;
}

.post-counter {
    display: flex;
    margin-top: 12px;
    width: 101px;
    height: 30px;
    border-radius: 6px;
    padding: 6px 10px 6px 10px;
    gap: 6px;
    background-color: #F2F3F5;
    justify-content: center;
    align-items: center;
}

.post-counter__image {
    width: 16px;
    height: 16px;
}

.post-counter__text {
    font: 400 15px "Golos UI", sans-serif;
    line-height: 18px;
    letter-spacing: -0.15px;
    color: #222222;
    vertical-align: middle;
    border: 1px;
    border-color: #222222;
}

.posts {
    display: grid;
    gap: 2.48px;
    margin-top: 42px;
    grid-template-columns: repeat(3, 322.35px);
}

.posts__image {
    width: 322.35px;
    height: 322.35px; 
}