* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.page {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: row;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    border: 1px solid #2222220D;
    gap: 16px;
    z-index: 2;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
}

.sidebar-shell {
    margin-left: 16px;
    margin-right: 16px;
    padding: 8px 8px 8px 8px;
    width: 40px;
    height: 40px;
}

.sidebar-shell__icon {
    width: 24px;
    height: 24px;
}

.sidebar-active::after {
    display: block;
    content: '';
    width: 4px;
    height: 4px;
    margin: auto;
    background: #222222;
    border-radius: 50%;
}

.feed {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 89px;
    width: 100%;
    gap: 36px;
    overflow-x: auto;
    padding-bottom: 73px;
}

.post {
    width: 474px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 32px;
    margin-bottom: 16px;
}

.header__profile {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.header__profile-picture {
    width: 32px;
    height: 32px;
    border-radius: 6px;
}

.header__profile-name {
    font: 500 14px "Golos UI", sans-serif;
    line-height: 18px;
    letter-spacing: -0.15px;
    color: #222222;
    vertical-align: middle;
}

.header__icon-edit {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.post-images {
    position: relative;
    margin-bottom: 16px;
    z-index: 0;
}

.post-image {
    display: block;
    width: 474px;
    height: 474px;
    cursor: pointer;
}

.icon-slider-left-button {
    position: absolute;
    top: 221px;
    left: 16px;
    cursor: pointer;
    transform: scaleX(-1);
}

.icon-slider-right-button {
    position: absolute;
    top: 221px;
    right: 16px;
    cursor: pointer;
}

.counter {
    position: absolute;
    height: 24px;
    top: 20px;
    right: 16px;
    padding: 3px 10px 3px 10px;
    background-color: #22222280;
    backdrop-filter: blur(12px);
    border-radius: 20px;
    z-index: 1;
    font: 400 15px "Golos UI", sans-serif;
    line-height: 18px;
    letter-spacing: -0.15px;
    vertical-align: middle;
    text-align: center;
    color: #FFFFFF;
}

.reaction-field {
    display: inline-flex;
    align-items: center;
    gap: 3px;
    background-color: #2222220D;
    border-radius: 8px;
    padding: 6px 12px 6px 12px;
    margin-bottom: 16px;
}

.reaction-field__heart {
    width: 16px;
    height: 16px;
}

.reaction-field__counter {
    font: 400 15px "Golos UI", sans-serif;
    line-height: 18px;
    letter-spacing: -0.15px;
    color: #222222;
    vertical-align: middle;
}

.post__text {
    font: 400 15px "Golos UI", sans-serif;
    line-height: 18px;
    letter-spacing: -0.15px;
    color: #222222;
}

.post__timestamp {
    font: 400 14px "Golos UI", sans-serif;
    line-height: 18px;
    letter-spacing: -0.15px;
    color: #22222280;
    vertical-align: middle;
    margin-top: 8px;
}

.less {
    display: -webkit-box; /* -webkit префикс бразуера, в моем случае Chrome. В данном случае это аналог флекса */
    -webkit-box-orient: vertical; /* вертикальная ориентация */
    -webkit-line-clamp: 2; /* ограничивает количество строк и обрезает их в случае переполнения */
    line-clamp: 2; /* свойство для совместимости */
    overflow: hidden;
}

.post__button-expand {
    font: 400 15px "Golos UI", sans-serif;
    line-height: 18px;
    letter-spacing: -0.15px;
    color: #808080;
    border: none;
    background: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

.modal-window {
    z-index: 2;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #22222280;
}

.modal-window__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.modal-window__shell {
    position: absolute;
    top: -52px;
    right: 0;
    height: 36px;
    width: 36px;
    padding: 6px 6px 6px 6px;
}

.modal-window__shell__icon {
    width: 24px;
    height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}

.modal-images {
    position: relative;
}

.modal-image {
    max-width: 1366px;
    max-height: 768px;
    display: none;
}

.image-active {
    display: block;
}

.modal-icon-slider-left-button {
    position: absolute;
    cursor: pointer;
    top: 50%;
    left: 16px;
    transform: scaleX(-1);
}

.modal-icon-slider-right-button {
    position: absolute;
    cursor: pointer;
    top: 50%;
    right: 16px;
}

.modal-counter {
    position: absolute;
    bottom: -42px;
    font: 500 15px "Golos UI", sans-serif;
    line-height: 18px;
    letter-spacing: -0.15px;
    text-align: center;
    color: #FFFFFF;
}

.modal-active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-block {
    overflow: hidden;
}