@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap");

.loginText {
    font-family: 'Golos Text';
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.15px;
    color: #222222;
}