* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.page {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    gap: 107px;
}

.sidebar {
    position: relative;
}

.sidebar__text {
    position: absolute;
    left: -90px;
    top: -106.63px;
    font: 700 140px "Golos UI", sans-serif;
    line-height: 180px;
    letter-spacing: -1.5px;
    color: #222222;
    z-index: 1;
}

.sidebar__image {
    width: 462px;
    height: 501px;
}

.login-form {
    width: 343px;
    position: relative;
}

.login-form__input-description {
    display: block;
    font: 400 15px "Golos UI", sans-serif;
    line-height: 18px;
    letter-spacing: -0.15px;
    color: #222222;
    margin-bottom: 5px;
}

.login-form__input-field {
    display: block;
    width: 100%;
    height: 44px;
    border-radius: 10px;
    padding: 13px 12px 13px 12px;
    margin-bottom: 5px;
    border: 1px solid #F2F3F5;
    background-color: #F2F3F5;
    font: 400 15px "Golos UI", sans-serif;
    line-height: 18px;
    letter-spacing: -0.15px;
    transition: border 0.3s ease;
    outline: none;
}

.login-form__input-extra-info {
    display: block;
    width: 100%;
    height: 16px;
    margin-bottom: 16px;
    font: 400 13px "Golos UI", sans-serif;
    line-height: 16px;
    letter-spacing: -0.08px;
    color: #808080;
}

.login-form__password {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 32px;
}

.login-form__password-field {
    display: block;
    width: 100%;
    height: 44px;
    border-radius: 10px;
    padding: 13px 48px 13px 12px;
    border: 1px solid #F2F3F5;
    background-color: #F2F3F5;
    font: 400 15px "Golos UI", sans-serif;
    line-height: 18px;
    letter-spacing: -0.15px;
    transition: border 0.3s ease;
    outline: none;
}

.login-form__button-eye {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 12px;
    cursor: pointer;
}

.login-form__button-submit {
    display: block;
    width: 100%;
    height: 48px;
    border-radius: 10px;
    padding-left: 16px;
    padding-right: 16px;
    font: 500 16px "Golos UI", sans-serif;
    line-height: 100%;
    letter-spacing: 0;
    color: #FFFFFF;
    background-color: #222222;
    border: 2px solid #222222;
    transition: border, background-color 0.3s ease;
    cursor: pointer;
}

.login-form__input-field:focus {
    outline: none;
    border: 1px solid #3F8AE0;
}

.login-form__password-field:focus {
    outline: none;
    border: 1px solid #3F8AE0;
}

.login-form__button-submit:focus {
    border: 2px solid #3F8AE0;
}

.login-form__button-submit:disabled {
    border: 2px solid #B4B4B4;
    background-color: #B4B4B4;
}

.login-form__error {
    position: absolute;
    top: -58px;
    width: 100%;
    padding: 12px 12px 12px 12px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: #FFECEC;
}

.login-form__error-message {
    font: 400 15px "Golos UI", sans-serif;
    line-height: 18px;
    letter-spacing: -0.15px;
    text-align: center;
    vertical-align: middle;
    color: #740000;
}

.login-form__error-description {
    color: #E64646;
}

.input-error {
    border: 1px solid #E64646;
    background-color: #F2F3F5;
}

.hidden {
    display: none;
}